
.shadowClass:hover {
    box-shadow: 0em 0em 10px var(--white);
}

.figureImage {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.paperResult {
    background-color: var(--secondBlue);
    box-shadow:  -0.1em 0.25em 0px var(--mainBlue);
}

.scissorsResult {
    background-color: var(--secondYellow);
    box-shadow:  -0.1em 0.25em 0px var(--mainYellow);
}

.rockResult {
    background-color: var(--secondRed);
    box-shadow:  -0.1em 0.25em 0px var(--mainRed);
}

.spockResult {
    background-color: var(--secondCyan);
    box-shadow:  -0.1em 0.25em 0px var(--mainCyan);
}

.lizardResult {
    background-color: var(--secondPurple);
    box-shadow:  -0.1em 0.25em 0px var(--mainPurple);
}


.figureContainer {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--secondBody);
}

.figureResult {
    animation-name: figureResultAnimation;
    animation-duration: 2s;
    position: absolute;
}

@keyframes figureResultAnimation {

    0%{width: 0px;height: 0px;}
    80%{width: 0px;height: 0px;}
    81%{width: 195px;height: 195px;}
    100%{width: 130px;height: 130px;}
    
}