/* Styling for elements with the class 'figureButton' */
.figureButton {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for elements with the class 'subContainer' */
.subContainer {
    background-color: var(--white);
    box-shadow:  0.1em -0.2em 0px rgb(227, 226, 226);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the '.subContainer' element when hovered over '.figureButton' */
.figureButton:hover .subContainer {
    box-shadow:  0.1em -0.2em 0px rgb(227, 226, 226),
    0em 0em 20px var(--white);
    transition-duration: 500ms;
}

.figure {
    height: 60%;
}

/* Styling for elements with the class 'figure' within '.figureButton' when motion reduction is not preferred */
@media (prefers-reduced-motion: no-preference) {

    .figureButton:hover .figure {
        animation: figureAnimation infinite 200ms linear;
    }
}

/* Keyframes animation named 'figureAnimation' */
@keyframes figureAnimation {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}

/* Styling for elements with the class 'paper' */
.paper {
    background-color: var(--secondBlue);
    box-shadow:  -0.1em 0.25em 0px var(--mainBlue);
    top:0;
    translate: -50% -50%;
    animation-name: handAnimation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/* Keyframes animation named 'handAnimation' */
@keyframes handAnimation {
    0%{translate: -50% -50%;}
    30%{translate: -50% -50%;}
    33%{translate: 150% -50%;}
    60%{translate: 150% -50%;}
    63%{translate: 50% 150%;}
    97%{translate: 50% 150%;}
    100%{translate: -50% -50%;}    
}

/* Styling for elements with the class 'paperPro' */
.paperPro {
    background-color: var(--secondBlue);
    box-shadow:  -0.1em 0.25em 0px var(--mainBlue);
    top:0;
    right: 0;
    translate: 50% 25%;
    animation-name: handProAnimation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

/* Keyframes animation named 'handProAnimation' */
@keyframes handProAnimation {
    0%{translate: 50% 25%;}
    20%{translate: 50% 25%;}
    21%{translate: 25% 150%;}
    40%{translate: 25% 150%;}
    41%{translate: -125% 150%;}
    60%{translate: -125% 150%;}
    61%{translate: -150% 25%;}
    80%{translate: -150% 25%;}
    81%{translate: -50% -50%;}
    99%{translate: -50% -50%;}
    100%{translate: 50% 25%;}    
}

/* Styling for elements with the class 'scissors' */
.scissors {
    background-color: var(--secondYellow);
    box-shadow:  -0.1em 0.25em 0px var(--mainYellow);
    top:0;
    right: 0;
    translate: 50% -50%;
    animation-name: scissorsAnimation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/* Keyframes animation named 'scissorsAnimation' */
@keyframes scissorsAnimation {
    0%{translate: 50% -50%;}
    30%{translate: 50% -50%;}
    33%{translate: -50% 150%;}
    60%{translate: -50% 150%;}
    63%{translate: -150% -50%;}
    97%{translate: -150% -50%;}
    100%{translate: 50% -50%;}    
}

/* Styling for elements with the class 'scissorsPro' */
.scissorsPro {
    background-color: var(--secondYellow);
    box-shadow:  -0.1em 0.25em 0px var(--mainYellow);
    top:0;
    right: 50%;
    translate: 50% -50%;
    animation-name: scissorsProAnimation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

/* Keyframes animation named 'scissorsProAnimation' */
@keyframes scissorsProAnimation {
    0%{translate: 50% -50%;}
    20%{translate: 50% -50%;}
    21%{translate: 150% 25%;}
    40%{translate: 150% 25%;}
    41%{translate: 125% 150%;}
    60%{translate: 125% 150%;}
    61%{translate: -25% 150%;}
    80%{translate: -25% 150%;}
    81%{translate: -50% 25%;}
    99%{translate: -50% 25%;}
    100%{translate: 50% -50%;}    
}

/* Styling for elements with the class 'rock' */
.rock {
    background-color: var(--secondRed);
    box-shadow:  -0.1em 0.25em 0px var(--mainRed);
    bottom:0;
    translate: 50% 50%;
    animation-name: rockAnimation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/* Keyframes animation named 'rockAnimation' */
@keyframes rockAnimation {
    0%{translate: 50% 50%;}
    30%{translate: 50% 50%;}
    33%{translate: -50% -150%;}
    60%{translate: -50% -150%;}
    63%{translate: 150% -150%;}
    97%{translate: 150% -150%;}
    100%{translate: 50% 50%;}    
}

/* Styling for elements with the class 'rockPro' */
.rockPro {
    background-color: var(--secondRed);
    box-shadow:  -0.1em 0.25em 0px var(--mainRed);
    bottom:0;
    right: 0;
    translate: 25% 50%;
    animation-name: rockProAnimation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

/* Keyframes animation named 'rockProAnimation' */
@keyframes rockProAnimation {
    0%{translate: 25% 50%;}
    20%{translate: 25% 50%;}
    21%{translate: -125% 50%;}
    40%{translate: -125% 50%;}
    41%{translate: -150% -75%;}
    60%{translate: -150% -75%;}
    61%{translate: -50% -150%;}
    80%{translate: -50% -150%;}
    81%{translate: 50% -75%;}
    99%{translate: 50% -75%;}
    100%{translate: 25% 50%;}    
}

/* Styling for elements with the class 'spockPro' */
.spockPro {
    background-color: var(--secondCyan);
    box-shadow:  -0.1em 0.25em 0px var(--mainCyan);
    top:0;
    left: 0;
    translate: -50% 25%;
    animation-name: spockProAnimation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

/* Keyframes animation named 'spockProAnimation' */
@keyframes spockProAnimation {
    0%{translate: -50% 25%;}
    20%{translate: -50% 25%;}
    21%{translate: 50% -50%;}
    40%{translate: 50% -50%;}
    41%{translate: 150% 25%;}
    60%{translate: 150% 25%;}
    61%{translate: 125% 150%;}
    80%{translate: 125% 150%;}
    81%{translate: -25% 150%;}
    99%{translate: -25% 150%;}
    100%{translate: -50% 25%;}    
}

/* Styling for elements with the class 'lizardPro' */
.lizardPro {
    background-color: var(--secondPurple);
    box-shadow:  -0.1em 0.25em 0px var(--mainPurple);
    bottom:0;
    left: 0;
    translate: -25% 50%;
    animation-name: lizardProAnimation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

/* Keyframes animation named 'lizardProAnimation' */
@keyframes lizardProAnimation {
    0%{translate: -25% 50%;}
    20%{translate: -25% 50%;}
    21%{translate: -50% -75%;}
    40%{translate: -50% -75%;}
    41%{translate: 50% -150%;}
    60%{translate: 50% -150%;}
    61%{translate: 150% -75%;}
    80%{translate: 150% -75%;}
    81%{translate: 125% 50%;}
    99%{translate: 125% 50%;}
    100%{translate: -25% 50%;}    
}

/* Styling for elements with the class 'selectButton' */
.selectButton {
    color: var(--white); /* Text color set to white */
    border-color: var(--headerOutline); /* Border color set to a custom variable */
}

/* Styling for '.selectButton' elements when hovered */
.selectButton:hover {
    border-color: var(--white); /* Change border color on hover */
    box-shadow: 0em 0em 10px var(--white); /* Add a box shadow effect on hover */
    opacity: 75%; /* Reduce opacity on hover */
}

/* Styling for label elements */
label {
    font-size: 0.6rem; /* Set font size for labels */
}

/* Styling for elements with the class 'error' */
.error {
    font-size: 0.5rem; /* Set font size for error messages */
}