@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

  --mainFont: 'Barlow Semi Condensed', sans-serif;

  --mainYellow: hsl(39, 89%, 49%);
  --secondYellow: hsl(40, 84%, 53%);
  --mainBlue: hsl(230, 89%, 62%);
  --secondBlue: hsl(230, 89%, 65%);
  --mainRed: hsl(349, 71%, 52%);
  --secondRed: hsl(349, 70%, 56%);
  --mainPurple: hsl(261, 73%, 60%);
  --secondPurple: hsl(261, 72%, 63%);
  --mainCyan: hsl(189, 59%, 53%);
  --secondCyan: hsl(189, 58%, 57%);

  --darkText: hsl(229, 25%, 31%);
  --scoreText: hsl(229, 64%, 46%);
  --headerOutline: hsl(217, 16%, 45%);

  --mainBody: hsl(214, 47%, 23%);
  --secondBody: hsl(237, 49%, 15%);

  --white: white;

}

.letterSpacing2px {
  letter-spacing: 2px;
}

body {
  height: 100vh;
  font-family: var(--mainFont);
  letter-spacing: 1px;
  background-image: linear-gradient(to bottom, var(--mainBody), var(--secondBody));
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 80px;
}

@media screen and (min-width: 700px) {
  body {
    padding-bottom: 50px;
  }
}